.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  background-color: rgb(175, 175, 112);
  color: rgb(90, 132, 168);
  margin: 5%;
  padding: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  background-color: wheat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
  
}
table {
  color: rgb(60, 87, 13);
  background-color: aliceblue;
  border-style: solid;
  border-color: gray;
  width: 100%;
  table-layout: fixed;
}
th {
  height: 70px;
}

tr th{
  color: purple;
  background-color: rgb(230, 158, 90);
  border-style: double;
  padding: 3px;
}

tr td {
  color: rgb(155, 101, 1);
  background-color: rgb(201, 200, 142);
  border-style: ridge;
  padding: 3px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
